/*div, header, section, footer {
  border: 1px solid darkgreen;
}
​
header {
  width: 100%;
  min-height: 200px;
  margin: 10px 0px;
  background-color: lightgreen;
}

section, footer {
  width: 100%;
  min-height: 200px;
  margin: 10px 0px;
  background-color: lightgreen;
}
​
header::before {
  content: "header# " attr(id);
}
​
section::before {
  content: "section# " attr(id);
}

footer::before {
  content: "footer# " attr(id);
}
​
div::before {
  content: "class: " attr(class);
}*/

nav, ul {
  border: 1px solid darkgreen;
}